/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background: url('../assets/loginpage/background2.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Signup Container */
.signup-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 35%;
    min-width: 400px;
    text-align: center;
    border: 2px solid #b32d60; /* Darker pink border */
}

/* Slogan Style */
.slogan {
    font-size: 28px;
    color: #b32d60; /* Darker pink */
    margin-bottom: 10px;
    font-weight: bold;
}

/* Title Style */
.title {
    font-size: 22px;
    color: #e07591; /* Lighter shade of pink */
    margin-bottom: 20px;
}

/* Signup Header Style */
.signup-header {
    font-size: 20px;
    color: #b32d60; /* Darker pink */
    margin-bottom: 20px;
    font-weight: normal;
}

/* Form Group */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #b32d60; /* Darker pink */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Buttons */
.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #b32d60; /* Darker pink */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: #e63980; /* Lighter pink on hover */
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #e07591; /* Lighter shade of pink */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #b32d60; /* Darker pink on hover */
}

.account-info {
    margin: 0;
    font-size: 17px;
    color: #b32d60; /* Darker pink */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer;
    color: #888;
}

.close-button:hover {
    color: #e63980; /* Lighter pink on hover */
}
